@page "/"
@inject ISportsmanService SportsmanService
@inject NavigationManager navigationManager;

<PageTitle>Довідник фаната</PageTitle>
<h1>База </h1>

<EditForm  Model="@SportsmanSearch">
     <DataAnnotationsValidator />
        <InputText @bind-Value="@SportsmanSearch.Name"/>
        <ValidationMessage For="@(()=>SportsmanSearch.Name)"></ValidationMessage>
        <select @bind="@SportsmanSearch.SportId">
            <option value=0>All</option>
    @foreach(var sport in SportsmanService.Sports)
    {
        <option value="@sport.Id">@sport.Name</option>
    }
</select>
<button @onclick="(()=>SearchSportsmen(SportsmanSearch.Name,SportsmanSearch.SportId))">Пошук</button>
<button @onclick="ShowDefaultTable">Видалити всі фільтри</button>
</EditForm>


<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Birth date</th>
            <th>Age</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Citizenship</th>
            <th>Sport</th>
            <th>Team</th>
        </tr>
    </thead>
    <tbody>



        @foreach (var sportsman in SportsmanService.Sportsmen)
        {

 
                <tr>
                <td>@sportsman.FirstName</td>
                <td>@sportsman.LastName</td>
                <td>
                    @(sportsman.BirthDate?
                .ToString("dd:MM:yyyy")
                ??"No info"
                )
                </td>
                <td>@sportsman.Age років</td>
                <td>@sportsman.Height м</td>
                <td>@sportsman.Weight кг</td>
                <td>@sportsman.Citizenship</td>
                <td>@sportsman.Sport.Name</td>
                <td>@sportsman.Team</td>
                <td><button class="btn btn-primary" @onclick="(()=>ShowSportsman(sportsman.Id))"><i class="oi oi-pencil"></i></button></td>
                <td><button class="btn btn-warning" @onclick="(()=>DeleteSportsman(sportsman.Id))"><i class="oi oi-delete"></i></button></td>
            </tr>

            }
            


        
    </tbody>
    <NavLink class="nav-link" href="/sportsman" Match="NavLinkMatch.All">
        <button type="submit" class="btn btn-primary" @onclick="CreateSportsman">Додати спортсмена до бази</button>

    </NavLink>
</table>



@code{
    SportsmanSearchModel SportsmanSearch = new SportsmanSearchModel
    {
             Name=String.Empty,
             SportId=0
    };

    protected override async Task OnInitializedAsync()
    {
        await SportsmanService.GetSportsmen();
    }

    public async Task SearchSportsmen(string? searchText, int? sportId)
    {

        await SportsmanService.SearchSportsmen(searchText,sportId);
    }

     public async Task DeleteSportsman(int id)
    {
        await SportsmanService.DeleteSportsman(id);
    }
    void ShowSportsman(int id)
    {
        navigationManager.NavigateTo($"/sportsman/{id}");
    }
    void CreateSportsman()
    {
        navigationManager.NavigateTo("/sportsman");
    }
    async Task ShowDefaultTable()
    {
        SportsmanSearch.Name = String.Empty;
        SportsmanSearch.SportId = 0;
        await SportsmanService.GetSportsmen();
    }
}

