@page "/"
@inject ISportsmanService SportsmanService;
@inject ISportService SportService;
@inject IJSRuntime JSRuntime;
@inject NavigationManager navigationManager;


<PageTitle>Довідник фаната</PageTitle>
<h1>База </h1>
<EditForm Model="@SportsmanSearch">
    <DataAnnotationsValidator />
    <div class="col-3">
        <label class="col-form-label">  Ім'я</label>
        <InputText @bind-Value="@SportsmanSearch.Name"  class="form-control"/>
        <ValidationMessage For="@(()=>SportsmanSearch.Name)"></ValidationMessage>
    </div>
    <div class="col-11">
        <label class="col-form-label">  Рік народження</label>
        <InputNumber class="col-1 form-control" @bind-Value="@SportsmanSearch.BirthYear" />
        <ValidationMessage For="@(()=>SportsmanSearch.BirthYear)"></ValidationMessage>
    </div>
    <div class="col-3">
        <label class="col-form-label">  Вік</label>
        <InputNumber @bind-Value="@SportsmanSearch.Age" class="form-control" />
        <ValidationMessage For="@(()=>SportsmanSearch.Age)"></ValidationMessage>
    </div>
    <div class="col-3">
        <label class="col-form-label">  Ріст від</label>
        <InputNumber step="0.01" class="col-2 form-control" @bind-Value="@SportsmanSearch.HeightFrom" />
        <ValidationMessage For="@(()=>SportsmanSearch.HeightFrom)"></ValidationMessage>

        <label class="col-form-label">  До</label>
        <InputNumber class="col-2 form-control" @bind-Value="@SportsmanSearch.HeightTo" />
        <ValidationMessage For="@(()=>SportsmanSearch.HeightTo)"></ValidationMessage>

    </div>
    <div class="col-3">
        <label class="col-form-label">  Вага від</label>
        <InputNumber class="col-2 form-control" @bind-Value="@SportsmanSearch.WeightFrom" />
        <ValidationMessage For="@(()=>SportsmanSearch.WeightFrom)"></ValidationMessage>
        <label class="col-form-label">  До</label>
        <InputNumber class="col-2 form-control" @bind-Value="@SportsmanSearch.WeightTo" />
        <ValidationMessage For="@(()=>SportsmanSearch.WeightTo)"></ValidationMessage>

    </div>
    <div class="col-3">
        <label class="col-form-label">  Громадянство</label>
        <select class="form-select" @bind="@SportsmanSearch.CitizenshipId">
            <option value=0>All</option>
            @foreach (var citizenship in SportsmanService.Citizenships)
            {
                <option value="@citizenship.Id">@citizenship.Name</option>
            }
        </select>
    </div>
    <div class="col-3">
        <label class="col-form-label">  Спорт</label>
        <select class="form-select" @bind="@SportsmanSearch.SportId">
            <option value=0>All</option>
            @foreach (var sport in SportService.Sports)
            {

                <option value="@sport.Id">@sport.Name</option>
            } 
        </select>
    </div>
    <div class="col-3">
        <label class="col-form-label">  Команда</label>
        <InputText @bind-Value="@SportsmanSearch.Team" class="form-control" />
        <ValidationMessage For="@(()=>SportsmanSearch.Team)"></ValidationMessage>
    </div>

    <button @onclick="(()=>SearchSportsmen(SportsmanSearch))" class="btn btn-primary"><i class="oi oi-magnifying-glass"></i></button>
    <button @onclick="ShowDefaultTable" class = "btn btn-danger"><i class="oi oi-delete"></i></button>

</EditForm>


<table class="table table-bordered" id="listOfSportsmen">
    <thead class="table-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Birth date</th>
            <th>Age</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Citizenship</th>
            <th>Sport</th>
            <th>Team</th>
        </tr>
    </thead>
    <tbody>



        @foreach (var sportsman in SportsmanService.Sportsmen)
        {


            <tr>
                <td>@sportsman.FirstName</td>
                <td>@sportsman.LastName</td>
                <td> @(sportsman.BirthDate?.ToString("dd:MM:yyyy")??"No info")</td>

                <td>@sportsman.Age років</td>
                <td>@sportsman.Height м</td>
                <td>@sportsman.Weight кг</td>
                <td>@sportsman.Citizenship.Name</td>
                <td>@sportsman.Sport.Name</td>
                <td>@sportsman.Team</td>
                <td><button class="btn btn-primary" @onclick="(()=>ShowSportsman(sportsman.Id))"><i class="oi oi-pencil"></i></button></td>
                </tr>        

        
            }
            



    </tbody>

</table>
    <NavLink href="/sportsman" Match="NavLinkMatch.All">
        <button type="submit" class="btn btn-primary" @onclick="CreateSportsman">Додати спортсмена до бази</button>
    </NavLink>
      <button class="btn btn-success" @onclick="DownloadPdf">
            <i class="oi oi-print"></i>
     </button>



  
@code {

    protected override async Task OnInitializedAsync(){
        await SportsmanService.GetSportsmen();

        await SportsmanService.GetCitizenships();
        await SportService.GetSports();
        CultureInfo.DefaultThreadCurrentCulture = new CultureInfo("en-US", false);
    }

    SportsmanSearchModel SportsmanSearch = new SportsmanSearchModel();


    public async Task SearchSportsmen(SportsmanSearchModel s)
    {

        await SportsmanService.SearchSportsmen(s);
    }

    public async Task DeleteSportsman(int id)
    {
        await SportsmanService.DeleteSportsman(id);
    }
    void ShowSportsman(int id)
    {
        navigationManager.NavigateTo($"/sportsman/{id}");
    }
    void CreateSportsman()
    {
        navigationManager.NavigateTo("/sportsman");
    }
    async Task ShowDefaultTable()
    {
        SportsmanSearch.Name = String.Empty;
        SportsmanSearch.SportId = 0;
        SportsmanSearch.BirthYear = null;
        SportsmanSearch.Age = null;
        SportsmanSearch.CitizenshipId = 0;
        SportsmanSearch.HeightFrom = null;
        SportsmanSearch.HeightTo = null;
        SportsmanSearch.WeightFrom = null;
        SportsmanSearch.WeightTo = null;
        SportsmanSearch.Team = String.Empty;
        await SportsmanService.GetSportsmen();

    }


    async Task DownloadPdf()
    {
        await using var module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./HtmlToPdf.js");

        // Generate and download the PDF
        await module.InvokeVoidAsync("generateAndDownloadPdf");


    }

}

